@font-face {
    font-family: 'archiaregular';
    src: url('archia-regular-webfont.eot');
    src: url('archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('archia-regular-webfont.woff2') format('woff2'),
        url('archia-regular-webfont.woff') format('woff'),
        url('archia-regular-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'syne';
    src: url('Syne-VariableFont_wght.ttf') format('truetype');
}*/


body {
    background-color: #1700FF;
    color: white;
    font-family: "archiaregular";
    font-size: 3rem;
    height: fit-content;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

.mainTitle{
    font-weight: 700;
    margin-bottom: 0rem;
    font-size: 3rem;
    letter-spacing:normal;
    font-weight:100;
}

.secondaryTitle{
    margin-top: 0.5rem;
    font-size: 3rem;
}

.paragraph {
    line-height: 3.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mainContainer {
    max-width: 65vw;
    padding-left: 5vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.linkListContainer {
    width: 20vw;
    height: 100%;
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    background-color: #1700FF;
    border-top: 1px solid white;
    border-left: 1px solid white;

}

.linkListText {
    list-style-type: none;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
}

.linkEsterni {
    line-height: 100px;
    font-size: 2rem;
    text-decoration: none;
    border-top: 1px solid white;
    padding-left: 2vw;
    align-items: end;
}

.img-mbl{
    display: none;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 1.2rem;
        padding: 0px;
        margin-top: 5vh;
    }

    .mainTitle {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .secondaryTitle{
        font-size: 1.2rem;
    }

    .paragraph {
        line-height: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .mainContainer {
        max-width: 100vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 0vh;
        padding-bottom: 1rem;
    }

    .linkListContainer {
        width: 100vw;
        height: fit-content;
        position: relative;
        bottom: 0%;
        right: 0%;
        padding-top: 0rem;
        padding-bottom: 0rem;
        border-top: none;
        font-size: 2rem;
        border-left: none;
    }

    .linkListText {
        text-align: right;
        width: 100vw;
        position: relative;
        padding: 0;
        margin: 0;
        bottom: 0;
    }

    .linkEsterni {
        text-decoration: none;
        width: Auto;
        border-top: 1px solid white;
        padding-right: 5vw;
        line-height: 6rem;
    }

    .arrow {
        display: inline-flex;
    }
}










.portfolio-module {
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    background-color: white;
    padding-top:0.1vw ;
}

.portfolio-tile {
    width: calc(80vw/4.02); /* 3 columns on desktop */
    margin-left: 0.1vw;
    margin-bottom: 0.1vw;
    text-align: left;
}

.image-mask {
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 1:1 aspect ratio */
    position: relative;
    /*border-radius: 8px;  Optional: add a border radius for rounded corners */
}

.portfolio-tile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

/*.portfolio-tile:hover img {
    transform: scale(1.1);
}*/

.portfolio-tile h3 {
    margin: 10px 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);; /* Adjust the color as needed */
}





@media screen and (max-width: 768px) {
    .portfolio-tile {
        width: 100%; /* 1 column on mobile */
        margin-left: 0vw;
        margin-bottom: 0vw;
        border-bottom: 1px solid white;
    }
    .portfolio-module {
        max-width:initial;
        border-top: 1px solid white;
    }

    .img-dsk {
        display: none;
    }

    .img-mbl {
        display:initial;
    }

}